In [2]:
# week 2
# 2.1 Exercise: Prepairing for Exploratory Data Analysis
# Author: Madhavi Ghanta
# Date 06/17/23

Hello World! My name is Madhavi Ghanta

In [1]:
#Display the text â€œHello World! My name is ...."
print("Hello World! My name is Madhavi Ghanta")

Hello World! My name is Madhavi Ghanta

In [2]:
#Add two numbers together
print("Sum of 4+6 is ",4+6)

Sum of 4+6 is  10

In [3]:
#Subtract a number from another number
print("6-4 is " ,6-4)

6-4 is  2

In [4]:
#Multiply two numbers
print("6*4 is" ,6*4)

6*4 is 24

In [5]:
# Divide two numbers
print("8/4 is" ,8/4)

8/4 is 2.0

In [9]:
#Concatenate  two strings together (any words)
print("Concatenate two strings----" , "Summer term class " + "is DSC 530 - Exploratory Data Analysis")

Concatenate two strings---- Summer term class is DSC 530 - Exploratory Data Analysis

In [15]:
#Create a list of 4 items (can be strings, numbers, both)
a= [2,4,6,8]
print("List of numbers - ",a)
b= ["Apple", "Pear","Carrot", "Mango"]
print("List of Strings - ", b)

List of numbers -  [2, 4, 6, 8]
List of Strings -  ['Apple', 'Pear', 'Carrot', 'Mango']

In [16]:
#Append an item to your list (again, can be a string, number)
a.append(10)
print("List of numbers appended - ",a)
b.append("Cherry")
print("List of Strings appended - ",b)

List of numbers appended -  [2, 4, 6, 8, 10]
List of Strings appended -  ['Apple', 'Pear', 'Carrot', 'Mango', 'Cherry']

In [17]:
#Create a tuple with 4 items (can be strings, numbers, both)
t = (10,20,30,40)
print("Printing the tuple - ",t)

Printing the tuple -  (10, 20, 30, 40)